//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;
@mobile-cart-padding: 15px;
@minicart-qty__height: 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .subtitle {
            display: none;

            &.empty {
                .lib-font-size(@font-size__base);
                .lib-css(font-weight, @font-weight__light);
                .lib-css(color, @color-elogic-gray02);
                display: block;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }
    }

    .minicart-wrapper {

        .block-minicart {
            padding: 50px 50px 70px;

            .block-title {
                display: none;
            }
        }

        .action {

            &.showcart {
                white-space: nowrap;

                .modal-popup,
                .text {
                    &:extend(.abs-visually-hidden all);
                    .lib-font-size(@font-size__s);
                    .lib-css(font-weight, @font-weight__light);
                    .lib-css(color, @color-elogic-black);
                    position: relative;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    vertical-align: middle;
                }

                .text:hover {
                    .lib-css(color, @color-elogic-gray02);
                }

                .counter.qty {
                    .lib-css(background, @color-elogic-white);
                    .lib-css(color, @color-elogic-black);
                    .lib-css(height, @minicart-qty__height);
                    .lib-css(line-height, @minicart-qty__height);
                    border-radius: 2px;
                    display: contents;
                    margin: 3px 0 0;
                    min-width: 18px;
                    overflow: hidden;
                    padding: 0 3px;
                    text-align: center;
                    white-space: normal;

                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-number {
                    text-shadow: none;
                    .lib-font-size(@font-size__s);
                    .lib-css(font-weight, @font-weight__light);
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            &.showcart:before {
                font-size: 0;
            }

            &.showcart.active:before {
                font-size: 0;
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }

    .minicart-items {
        .lib-list-reset-styles();

        .product-item {
            padding: @indent__base 0;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }

            &:first-child {
                padding-top: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

//.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
//    .minicart-wrapper .block-minicart {
//        width: 290px;
//    }
//}

//.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
//    .minicart-wrapper {
//        margin-top: @indent__s;
//        .lib-clearfix();
//
//        .product {
//            .actions {
//                float: left;
//                margin: 10px 0 0 0;
//            }
//        }
//
//        .update-cart-item {
//            float: right;
//            margin-left: 0;
//        }
//    }
//}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        margin-left: 13px;
        margin-top: 12px;

        .block-minicart {
            width: 390px;
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minicart-wrapper {
        margin-top: 10px;

        .action.showcart .text {
            display: none;
        }

        .action.showcart:before {
            content: @icon-elogic-checkout;
            .lib-font-size(@font-size__s_l) !important;
            .lib-css(font-family, @font-family-awesome);
            .lib-css(color, @color-elogic-black);

        }

        .action.showcart.active:before {
            content: @icon-elogic-checkout;
            .lib-font-size(@font-size__s_l)!important;
            .lib-css(font-family, @font-family-awesome);
            .lib-css(color, @color-elogic-black);
        }
    }

}
