& when (@media-common = true) {

    .filter-content {
        .filter-options-item {
            border-bottom: 1px solid @color-elogic-gray001;
            padding-bottom: 10px;

            .filter-options-content {
                padding: 10px 10px 20px 10px;

                a {
                    .lib-font-size(@font-size__s_l);
                    .lib-css(font-weight, @font-weight__light);
                    .lib-css(color, @color-elogic-gray03);
                }

                a:hover {
                    background-color: @color-elogic-white;
                    text-decoration: none;
                }

                ol {
                    padding-left: 0;

                    li {
                        list-style: none;
                    }

                    li:before {
                        content: @icon-elogic-uncheck;
                        .lib-font-size(@font-size__xs);
                        .lib-css(font-family, @font-family-awesome);
                        .lib-css(color, @color-elogic-white);
                        border: 2px solid @color-elogic-gray01;
                    }
                }
            }

            .filter-options-title {
                .lib-font-size(@font-size__l);
                .lib-css(font-weight, @font-weight__semibold);
                .lib-css(color, @color-elogic-black);
                text-transform: uppercase;
                padding: 5px 0 0 0;
                margin-bottom: 20px;
                letter-spacing: 1px;
                position: relative;
            }
        }

        .filter-current {
            border-bottom: 1px solid @color-elogic-gray001;

            .block-subtitle {
                .lib-font-size(@font-size__l);
                .lib-css(color, @color-elogic-gray02)
            }

            .action.remove {
                left: -2px;
                top: -1px;
                position: absolute;
                right: 0;
            }

            .action.remove:before {
                .lib-font-size(@font-size__s_l);
                .lib-css(font-family, @font-family-awesome);
                .lib-css(font-weight, @font-weight__heavier);
                .lib-css(color, @color-elogic-black);
                content: @icon-elogic-close;
                float: right;
            }

            .item {
                padding-left: 0;

                .filter-value {
                    .lib-css(color, @color-elogic-gray02);
                    .lib-css(font-weight, @font-weight__light);
                }
            }

            ol,
            li {
                list-style: none;
                margin-bottom: 0;
            }
        }

        .block-actions.filter-actions {
            float: right;
            padding-top: 5px;

            .action {
                .lib-css(color, @color-elogic-gray04);
                .lib-css(font-weight, @font-weight__light);
            }
        }
    }
}

//
//  Mobile
//  ______________________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){

    .catalog-category-view.page-products .columns {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        padding-top: 30px;

        .column.main {
            width: 100%;
            padding-bottom: 20px;

            .toolbar.toolbar-products {
                .sorter {
                    right: auto;
                    top: auto;
                }
            }

            .products {
                margin: 30px 0 0 0;

                ol {
                    margin: 30px 0 0 0;

                    .item.product.product-item {
                        width: calc(98%/3);
                    }
                }
            }
        }

        .sidebar.sidebar-main {
            width: 100%;
            margin: 0 auto;

            .filter {
                .block-title.filter-title {
                    display: none;
                }
                .block-content.filter-content {
                    padding-bottom: 80px;

                    .block-actions.filter-actions {
                        .lib-vendor-prefix-display(flex);
                        justify-content: flex-end;
                        margin: 0;
                        padding-bottom: 20px;
                        float: none !important;
                    }

                    .filter-options {
                        display: block;
                    }

                    .filter-current {
                        padding-bottom: 30px;
                        border-top: none;

                        .items {
                            display: block;
                        }

                        ol {
                            display: block;
                        }

                        .filter-current-subtitle {
                            text-transform: none;

                            &:before,
                            &:after
                            {
                                display: none;
                            }
                        }
                    }

                    .filter-current.active + .block-actions {
                        .lib-vendor-prefix-display(flex);
                    }
                }
            }
        }
    }

    .breadcrumbs {
        display: block;
    }

}

//
//  Mobile 480
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .columns .column.main .products ol{
        text-align: center;

        .item.product.product-item {
            width: 100% !important;
        }
    }
}


