& when (@media-common = true) {
    header {
        //position: fixed;
        z-index: 100;
        background: white;
        width: 100%;
    }

    .cms-home.cms-index-index {
        .page-wrapper > main.page-main {
            max-width: 1920px;
            padding-left: 0;
            padding-right: 0;
        }
    }


    .breadcrumbs {
        .items li {

            a {
                .lib-css(color, @color-elogic-gray02);
            }

            a:hover {
                .lib-css(color, @color-elogic-black);
                text-decoration: underline !important;
            }

            a:active {
                .lib-css(color, @color-elogic-black);
            }
        }
    }

    .page-footer {
        .footer.content {
            border-top: none;

            .links {
                display: initial;
            }

            .block {
                float: none;
            }
        }
    }


    .our_products,
    .categories,
    .category_products,
    .sale,
    .news,
    .shop_by_brands {
        //padding-right: 15px !important;
        //padding-left: 15px !important;

        width: 1320px;
        margin: 0 auto;
    }

    a:hover {
        text-decoration: none !important; //override luma styles
    }

    //
    //  Categories
    //  ______________________________________________________

    .categories {
        .lib-vendor-prefix-display(flex);
        justify-content: space-between;
    }

    .category_item:hover {
        cursor: pointer;
    }

    .category_item {
        width: 49%;
    }

    //
    //  Our products
    //  ______________________________________________________

    .products_title {
        position: relative;
    }

    .products_title h2 {
        .lib-font-size(@font-size__xl_s);
        .lib-css(font-weight, @font-weight__semibold);
        .lib-css(color, @color-elogic-black);
        text-transform: uppercase;
        letter-spacing: 1px;

        margin-bottom: 5px;
    }


    .products_title {
        .description_title {
            padding-bottom: 20px;
        }
    }

    .products_title:after {
        content: "";
        width: 30px;
        height: 3px;
        .lib-css(background, @color-elogic-black);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .our_product_title_container {
        .price {
            text-align: center;
        }
    }

    .special_price span {
        .lib-font-size(@font-size__l);
        .lib-css(font-weight, @font-weight__bold);
        .lib-css(font-family, @font-family-oswald);
        .lib-css(color, @color-elogic-black);
    }

    .old_price {
        .lib-font-size(@font-size__base);
        .lib-css(font-weight, @font-weight__bold);
        .lib-css(font-family, @font-family-oswald);
        .lib-css(color, @color-elogic-gray03);

        text-decoration: line-through;
    }

    .our_products_container {
        .lib-vendor-prefix-display(flex);
    }

    .product_name a {
        .lib-font-size(@font-size__base);
        .lib-css(font-weight, @font-weight__regular);
        .lib-css(color, @color-elogic-gray02);

        text-transform: uppercase;
        letter-spacing: 1px;

        text-align: center;

    }

    .product_name {
        margin-bottom: 10px;
    }

    .our_product_title_container {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction (column);

        margin: 30px 0 0;
    }

    .our_product_name {
        text-align: center;
    }

    //
    //  Sale
    //  ______________________________________________________

    .sale {
        margin: 60px auto 0;
    }

    .sale_item a {
        display: block;

        img {
            display: block;
        }
    }

    .sale_item:hover {
        .lib-css(background-color, @color-elogic-black);
    }

    .sale_item a:hover {
        opacity: .6;
        transition: all .3s;
    }

    //
    //  Bestsellers / Featured / Most viewed
    //  ______________________________________________________

    .categories_product_title_container {
        width: 60%;
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction (column);
        margin-bottom: 10px;
        margin-left: 20px;

        .price {
            text-align: start;
        }
    }

    .category_products {
        .lib-vendor-prefix-display(flex);

        .category_products_item_container {
            width: calc(99% / 3);
            padding: 15px;
        }
    }

    .products_item {
        .product {
            .lib-vendor-prefix-display(flex);
            margin-bottom: 30px;
        }
    }

    .category_product_photo img {
        width: 90px;
    }

    .category_products_title h2 {
        .lib-font-size(@font-size__l);
        .lib-css(font-weight, @font-weight__semibold);
        .lib-css(color, @color-elogic-black);

        text-transform: uppercase;
        letter-spacing: 1px;

        text-align: left;
    }

    //
    //  News & Block
    //  ______________________________________________________

    .news_container {
        .lib-vendor-prefix-display(flex);
    }

    .news_product_title h3 {
        margin-bottom: 15px;

        a {
            .lib-font-size(@font-size__base);
            .lib-css(font-weight, @font-weight__semibold);
            .lib-css(color, @color-elogic-black);

            text-transform: uppercase;

            text-align: left;
        }
    }

    .news_product_description_container h3 {
        a {
            .lib-font-size(@font-size__base);
            .lib-css(color, @color-elogic-black);

            text-transform: uppercase;
            line-height: 1.5;

            display: inline-block;
        }
    }

    .description p {
        .lib-font-size(@font-size__base);
        .lib-css(font-weight, @font-weight__light);
        .lib-css(color, @color-elogic-gray02);
        letter-spacing: .25px;
        line-height: 22px;
    }

    .products_title {
        .description_title {
            .lib-font-size(@font-size__base);
            .lib-css(font-weight, @font-weight__light);
            .lib-css(color, @color-elogic-gray02);
            letter-spacing: .25px;
            line-height: 22px;
            text-transform: uppercase;
        }
    }


    .data_container {
        margin: 15px 0;

        .data {
            .lib-font-size(@font-size__base);
            .lib-css(font-weight, @font-weight__light);
            .lib-css(color, @color-elogic-gray02);
            font-style: italic;
        }
    }

    //
    //  Shop by brands
    //  ______________________________________________________

    .shop_by_brands {
        height: 325px;
    }

    .brands-title {
        margin-bottom: 20px;

        p {
            .lib-font-size(@font-size__xl_xl);
            .lib-css(font-weight, @font-weight__regular);
            .lib-css(color, @color-elogic-black);

            text-align: center;
        }
    }

    .brands-title p:after {
        content: "";
        width: 500px;
        height: 1px;
        background: #ebebeb;
        position: absolute;
        bottom: 91%;
        left: 61%;
    }

    .brands-title p:before {
        content: "";
        width: 540px;
        height: 1px;
        background: #ebebeb;
        position: absolute;
        bottom: 91%;
        left: 0;
    }

    .brand_image {
        width: 110px;
        margin: 0 auto;
    }

    .brand_name {
        text-align: center;
    }

    .brand_name a {
        .lib-font-size(@font-size__base);
        .lib-css(font-weight, @font-weight__light);
        .lib-css(color, @color-elogic-black);
    }

    .brand_name a:hover {
        .lib-css(color, @color-elogic-gray02);
    }

    //
    //  Category Page
    //  ______________________________________________________

    .toolbar-products {
        //float: left;

        .limiter {
            .label {
                display: none;
            }

            .limiter-text {
                display: none;
            }
        }
    }

    .catalog-category-view.page-products {

        .columns {
            .column.main {
                width: 72%;
            }
        }

        .sidebar {
            width: 28%;
            padding-right: 20px;

            &.sidebar-additional {
                margin-top: 25px;
            }

            .filter-subtitle {
                display: none;
            }

            .filter-options {
                .lib-font-size(18);
                .lib-css(font-weight, @font-weight__light);
                .lib-css(color, @color-elogic-black);
                letter-spacing: 1px;
            }

            .block-title strong {
                .lib-font-size(18);
                .lib-css(font-weight, @font-weight__heavier);
            }

            .block-content, .empty {
                .lib-css(color, @color-elogic-gray02);
            }
        }

        .toolbar-sorter.sorter {
            float: left;
        }

        .toolbar-amount {
            float: right;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: underline;
            text-underline-position: under;
            .lib-css(color, @color-elogic-black);
            .lib-font-size(14);
        }

        .modes-mode {
            box-shadow: none;
            border: none;
            border-radius: 0;
            transition: all .3s ease;

            &.active,
            &:hover {
                .lib-css(background, @color-elogic-black);

                &:before {
                    .lib-css(color, @color-elogic-white);
                }
            }

            &.mode-grid {
                margin-right: 5px;
            }
        }

        .category-bottom-toolbar {
            .toolbar {
                .toolbar-amount, .modes {
                    display: none;
                }

                .limiter {
                    position: static;
                    float: left;
                }
            }
        }

        //
        //  Footer navigation
        //  ______________________________________________________

        div.page-wrapper > footer.page-footer {
            .lib-css(background-color, @color-elogic-white);


            .footer_navigation {
                padding: 0 15px 100px 15px;

                .footer_navigation_container {
                    .lib-vendor-prefix-display(flex);
                    width: 100%;
                    max-width: 1320px;
                    margin: 0 auto;

                    .navigation-item {
                        width: 25%;

                        h2 {
                            .lib-font-size(@font-size__s_l);
                            .lib-css(font-weight, @font-weight__heavier);
                            .lib-css(color, @color-elogic-black);

                            letter-spacing: 1px;
                            text-transform: uppercase;
                            line-height: 1;

                            margin-bottom: 40px;
                            padding-bottom: 0;
                        }

                        ul {
                            padding: 0;

                            li {
                                padding-bottom: 15px;
                                list-style: none;

                                a {
                                    .lib-font-size(@font-size__base);
                                    .lib-css(font-weight, @font-weight__light);
                                    .lib-css(color, @color-elogic-gray02);
                                    letter-spacing: .25px;

                                    position: relative;
                                    overflow: hidden;
                                }
                            }

                            li:hover {
                                a {
                                    .lib-css(color, @color-elogic-black);
                                    padding-left: 10px;
                                    transition: all .4s ease 0s;
                                }

                                a:before {
                                    font-size: 7px;
                                    .lib-css(font-family, @font-family-awesome);
                                    .lib-css(color, @color-elogic-black);
                                    content: @icon-elogic-mark;
                                    position: absolute;
                                    top: 35%;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        //
        //  Footer about us
        //  ______________________________________________________

        .footer_about_us {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 40px;

            .footer_about_us_container {
                .lib-vendor-prefix-display(flex);
                justify-content: space-between;

                width: 100%;
                max-width: 1320px;
                margin: 0 auto;

                .about_us_item {
                    ul {
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-prefix-flex-wrap(wrap);
                        justify-content: center;

                        li {
                            margin-right: 20px;
                            margin-bottom: 5px;

                            a {
                                .lib-font-size(@font-size__s);
                                .lib-css(font-weight, @font-weight__light);
                                .lib-css(color, @color-elogic-gray02);
                                text-transform: uppercase;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }

                .social_item {
                    .lib-vendor-prefix-display(flex);

                    .social_title p {
                        .lib-font-size(@font-size__base);
                        .lib-css(font-weight, @font-weight__light);
                        .lib-css(color, @color-elogic-gray02);
                        padding-right: 30px;
                        text-transform: uppercase;
                    }

                    .social_links {
                        .lib-vendor-prefix-display(flex);

                        li {
                            padding-right: 20px;

                            a {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    //
    //  Footer navigation
    //  ______________________________________________________

    div.page-wrapper > footer.page-footer {
        .lib-css(background-color, @color-elogic-white);


        .footer_navigation {
            padding: 0 15px 100px 15px;

            .footer_navigation_container {
                .lib-vendor-prefix-display(flex);
                width: 100%;
                max-width: 1320px;
                margin: 0 auto;

                .navigation-item {
                    width: 25%;

                    h2 {
                        .lib-font-size(@font-size__s_l);
                        .lib-css(font-weight, @font-weight__heavier);
                        .lib-css(color, @color-elogic-black);

                        letter-spacing: 1px;
                        text-transform: uppercase;
                        line-height: 1;

                        margin-bottom: 40px;
                        padding-bottom: 0;
                    }

                    ul {
                        padding: 0;

                        li {
                            padding-bottom: 15px;
                            list-style: none;

                            a {
                                .lib-font-size(@font-size__base);
                                .lib-css(font-weight, @font-weight__light);
                                .lib-css(color, @color-elogic-gray02);
                                letter-spacing: .25px;

                                position: relative;
                                overflow: hidden;
                            }
                        }

                        li:hover {
                            a {
                                .lib-css(color, @color-elogic-black);
                                padding-left: 10px;
                                transition: all .4s ease 0s;
                            }

                            a:before {
                                font-size: 7px;
                                .lib-css(font-family, @font-family-awesome);
                                .lib-css(color, @color-elogic-black);
                                content: @icon-elogic-mark;
                                position: absolute;
                                top: 35%;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    //
    //  Footer about us
    //  ______________________________________________________

    .footer_about_us {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;

        .footer_about_us_container {
            .lib-vendor-prefix-display(flex);
            justify-content: space-between;

            width: 100%;
            max-width: 1320px;
            margin: 0 auto;

            .about_us_item {
                ul {
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-wrap(wrap);
                    justify-content: center;

                    li {
                        margin-right: 20px;
                        margin-bottom: 5px;

                        a {
                            .lib-font-size(@font-size__s);
                            .lib-css(font-weight, @font-weight__light);
                            .lib-css(color, @color-elogic-gray02);
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }
                    }
                }
            }

            .social_item {
                .lib-vendor-prefix-display(flex);

                .social_title p {
                    .lib-font-size(@font-size__base);
                    .lib-css(font-weight, @font-weight__light);
                    .lib-css(color, @color-elogic-gray02);
                    padding-right: 30px;
                    text-transform: uppercase;
                }

                .social_links {
                    .lib-vendor-prefix-display(flex);

                    li {
                        padding-right: 20px;

                        a {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop large
//  ______________________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .our_products,
    .categories,
    .category_products,
    .sale,
    .news,
    .shop_by_brands {
        width: 1300px;
        overflow: hidden;
    }
}

//
//  Desktop
//  ______________________________________________________

& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__l_s) and (max-width: @screen__xl) {
        .our_products,
        .categories,
        .category_products,
        .sale,
        .news,
        .shop_by_brands {
            width: 1150px;
            overflow: hidden;
        }

        .brands-title p:before {
            width: 440px;
        }

        .brands-title p:after {
            width: 400px;
            left: 63%;
        }
    }
}

& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m_s) and (max-width: @screen__l_s) {
        .our_products,
        .categories,
        .category_products,
        .sale,
        .news,
        .shop_by_brands {
            width: 930px;
        }

        .brands-title p:before {
            width: 330px;
        }

        .brands-title p:after {
            left: 65%;
        }

        .category_products {
            .category_products_item_container {
                padding: 5px;
            }
        }

    }
}

& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m) and (max-width: @screen__m_s) {
        .our_products,
        .categories,
        .category_products,
        .sale,
        .news,
        .shop_by_brands {
            width: 720px;

        }

        .brands-title p:before {
            width: 240px;
        }

        .brands-title p:after {
            left: 69%;
        }

        .category_products {
            .lib-vendor-prefix-flex-direction (column);

            .category_products_item_container {
                width: 100%;
                padding: 5px;
            }
        }
    }
}


//
//  Mobile
//  ______________________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){

    .our_products,
    .categories,
    .category_products,
    .sale,
    .news,
    .shop_by_brands {
        width: 90%;
    }

    .categories {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction (column);

        .category_item {
            width: 100%;
            margin: 0;
        }
    }

    .brands-title p {
        .lib-font-size(@font-size__xl_s);
        .lib-css(font-weight, @font-weight__heavier);
    }

    .brands-title p:before {
        width: 0px;
        bottom: 94%;
    }

    .brands-title p:after {
        width: 0px;
        left: 65%;
        bottom: 94%;
    }

    .category_products {
        .lib-vendor-prefix-flex-direction (column);

        .category_products_item_container {
            width: 100%;
        }
    }

    header {
        position: inherit;
    }

    div.page-wrapper > footer.page-footer .footer_navigation .footer_navigation_container {
        .lib-vendor-prefix-flex-direction (column);

        .navigation-item {
            width: 100%;
        }
    }

    .footer_about_us .footer_about_us_container {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction (column);
        align-items: center;
    }
    #maincontent{
        >.columns{
            >.column.main{
                .lib-vendor-prefix-order(1);
            }
            >.sidebar-main{
                .lib-vendor-prefix-order(2);
            }
            >.sidebar-additional{
                .lib-vendor-prefix-order(3);
            }
        }
    }
}

//
//  Mobile 480
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .our_products,
    .categories,
    .sale,
    .category_products,
    .news,
    .shop_by_brands {
        width: 90%;
    }

    .brands-title p {
        .lib-font-size(@font-size__xl_s);
        .lib-css(font-weight, @font-weight__heavier);
    }

    .categories {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction (column);

        .category_item {
            width: 100%;
            margin: 0;
        }
    }


    .brands-title p:before {
        width: 0px;
    }

    .brands-title p:after {
        width: 0px;
        left: 69%;
    }

    .category_products {
        .lib-vendor-prefix-flex-direction (column);

        .category_products_item_container {
            width: 100%;
        }
    }
}





