& when (@media-common = true) {
    #banerSlider,
    #brandSlider,
    #leftproductSlider {
        .swiper-pagination-bullets {
            top: 90%;

            .swiper-pagination-bullet-active {
                .lib-css(background, @color-elogic-black);
            }

            span {
                border-radius: 0;
                width: 6px;
                height: 6px;
                .lib-css(background, @color-elogic-white);
                border: 2px solid @color-elogic-black;

                opacity: 1;
            }
        }
    }

    .swiper-buttons {
        .lib-vendor-prefix-display(flex);
        justify-content: flex-end;

        margin: 30px 0;
    }

    .swiper-buttons-container {
        > div {
            height: 20px;
        }

        .lib-vendor-prefix-display(flex);
        justify-content: space-between;
        width: 80px;
    }

    .swiper-button-prev {
        border-right: 1px solid #222;
    }

    .swiper-buttons-container {
        .swiper-button-prev,
        .swiper-button-next {
            p {
                .lib-font-size(@font-size__s);
                .lib-css(color, @color-elogic-black);
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            position: inherit;
        }
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        opacity: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    .left-slider {
        width: 100%;

        .left-slider-container {
            .left-slider-item .img_item {
                .lib-vendor-prefix-display(flex);
                justify-content: center;
            }
        }
    }
}

