//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    #store\.menu {
        .lib-css(background-color, @color-elogic-white);
        .navigation {
            .lib-vendor-prefix-display(flex);
            justify-content: center;

            .nav-item.arm-chair-menu > .submenu {
                width: 1200px;
                left: -442px;
            }

            .nav-item.subgroup > .submenu {
                margin-top: 20px !important;
            }

            .nav-item.subhover > .submenu {
                .lib-css(background, @color-elogic-black);

                .item-content {

                    .mega-col.mega-col-3.mega-col-level-1.col-xs-12 {
                        .lib-vendor-prefix-display(flex);
                    }
                }

                .item-sidebar p {
                    .lib-vendor-prefix-display(flex);
                    justify-content: flex-end;
                }

                > .submenu-inner {
                    padding: 25px;

                    .item-header .widget .header_menu {
                        width: 100%;
                        max-width: 1200px;
                        margin: 0 auto;

                        .header_menu_container {
                            .lib-vendor-prefix-display(flex);
                            justify-content: space-between;

                            .header_menu_item {
                                .lib-vendor-prefix-display(flex);

                                .header_icon {
                                    margin-right: 15px;

                                    em.fa {
                                        width: 50px;
                                        height: 50px;
                                        .lib-font-size(@font-size__s_l);
                                        text-align: center;
                                        line-height: 50px;
                                        .lib-css(color, @color-elogic-black);
                                        .lib-css(background, @color-elogic-white);
                                        padding-left: 5px;
                                        border-radius: 100%;
                                        display: inline-block;
                                    }

                                    em.fa:before {
                                        .lib-font-size(@font-size__xl);
                                        margin-right: 5px;
                                    }
                                }

                                .media-body {
                                    h6 {
                                        text-transform: none;
                                        .lib-css(color, @color-elogic-white);
                                        .lib-font-size(@font-size__s_l);
                                        margin-bottom: 0;
                                        margin-top: 10px;
                                    }

                                    p {
                                        .lib-css(color, @color-elogic-gray02);
                                        .lib-css(font-weight, @font-weight__regular);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .level0 .submenu {
                background: 0 0;

                .submenu-inner .item-footer {
                    padding: 20px 0;
                }
            }

            .level0.current > a {
                .lib-css(background-color, @color-elogic-white);
            }

            .level0.current:hover > a span {
                .lib-css(color, @color-elogic-gray02);
            }

            ul {
                .arm-chair-menu > .submenu {
                    a {
                        padding: 12px 20px 0 40px;
                    }

                    .nav-item > a.nav-anchor.subitems-group > span {
                        .lib-css(font-weight, @font-weight__semibold);
                        text-transform: uppercase;
                        color: white;
                    }

                    .nav-item.parent > a:after {
                        display: none;
                    }
                }

                .arm-chair-menu > .submenu .nav-item > a:hover {
                    text-decoration: underline;
                    color: white;
                }



                .level0 > .submenu {
                    .lib-css(background-color, @color-elogic-black);

                    a {
                        padding: 0 20px 25px 30px;
                    }

                    a:hover {
                        background: 0 0;
                    }

                    .nav-item > a {
                        line-height: 20px;
                    }

                    .nav-item {
                        &.current {
                            > a {
                                border-color: @color-elogic-black;
                            }
                        }
                    }

                    .nav-item.parent > a:after {
                        content: @icon-elogic_arrow;
                        font: normal normal normal 14px/1 FontAwesome;
                        position: absolute;
                        right: 0;
                        top: 4px;
                    }

                    .nav-item.parent:hover > a:after {
                        .lib-css(color, @color-elogic-white);
                    }
                }

                .level0 > a {
                    .lib-font-size(@font-size__base);

                    span {
                        .lib-css(font-weight, @font-weight__regular);
                        .lib-css(color, @color-elogic-black);

                        letter-spacing: 1px;
                    }
                }

                .level1 span {
                    .lib-font-size(@font-size__base);
                    .lib-css(font-weight, @font-weight__light);
                    .lib-css(color, @color-elogic-white);
                }

                .level1 a:hover {
                    span {
                        transition: all .6s ease 0s;
                        padding: 0 5px 0 15px;
                    }

                    span:before {
                        content: @icon-elogic-mark;
                        .lib-css(font-family, @font-family-awesome);
                        .lib-css(color, @color-elogic-white);
                        .lib-font-size(@font-size__xs_s);
                        position: absolute;
                        left: 17%;
                    }
                }

            }

        }

        .ves-megamenu .nav-item.active>a {
            .lib-css(background, 0 0);
        }
    }


}

& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m) and (max-width: @screen__l_s) {
        #store\.menu .top-menu .navigation {
            .nav-item > .submenu {
                .item-sidebar {
                    width: 22% !important;
                    justify-content: end;
                    float: right;
                }

                .item-content {
                    .level1 {
                        .item-content1 {
                            display: block !important;
                        }

                        .item-content2 {
                            display: none !important;
                        }
                    }
                }
            }

            .nav-item.arm-chair-menu > .submenu {
                width: 760px;
                left: -195px;
            }
        }
    }
}

& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m) and (max-width: @screen__m_s) {
        #store\.menu .top-menu .navigation {
            .nav-item.arm-chair-menu > .submenu {
                width: 760px;
                left: -95px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .hidden-md {
        .nav-item.parent > a:after {
            display: none;
        }
    }

    .ves-megamenu>.navigation li.nav-item> a {
        border-bottom: 1px solid @color-elogic-gray04;
    }

    #store\.menu {
        .top-menu {
            .navigation {
                display: block;

                .level0.active>a:not(.ui-state-active) {
                    border-color: transparent;
                }

                .submenu:not(:first-child) .active>a {
                    border-color: transparent;
                }

                .level0.current > a {
                    background-color: @color-elogic-black;
                }

                .nav-item.arm-chair-menu > .submenu {
                    width: 1300px;
                    left: 0px;
                }

                .nav-item.subhover > .submenu {
                    > .submenu-inner {
                        .item-header {
                            display: none;
                        }

                        .item-footer {
                            display: none;
                        }

                        .content-wrapper > .right-sidebar {
                            display: none;
                        }

                        .content-wrapper > .item-content {
                            .level1 {
                                .item-content2 {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                .nav-item.subhover > .submenu > .submenu-inner {
                    padding: 0px;
                }

                .nav-item.subgroup > .submenu {
                    margin-top: 0px;
                }

                .nav-item.arm-chair-menu > .submenu {
                    width: 1300px;
                    left: 0px;
                }

                ul {

                    .level0 > a span {
                        .lib-css(font-weight, @font-weight__light);
                        .lib-css(color, @color-elogic-white);
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }

                    .arm-chair-menu > .submenu .nav-item > a.nav-anchor.subitems-group > span {
                        .lib-css(font-weight, @font-weight__light);
                        text-transform: none;
                        color: white;
                    }

                    .level1 a:hover span:before {
                        left: 5%;
                    }

                }
            }

        }

        .ves-megamenu > .navigation {
            float: none ;
        }

    }

    .ves-megamenu > .navigation li.level0:last-child{
        border-bottom: 1px solid @color-elogic-gray04;
        border-top: none ;
    }


    .ves-megamenu {
        .level0 .submenu .nav-item>a {
            .lib-css(color, @color-elogic-white);
        }

        .opener:before {
            .lib-font-size(@font-size__s_l);
            .lib-css(color, @color-elogic-white);
            content: @icon-elogic_arrow !important;
            left: 60%;
            top: 20px;
            font: normal normal normal 14px/1 FontAwesome;
        }

        .opener.item-active {
            .lib-css(background-color, @color-elogic-black);
        }
    }

    .nav-sections-items:after {
        display: none;
    }

    .page-wrapper {
        .sections.nav-sections {
            .lib-css(background-color, @color-elogic-black);
        }
    }

    .nav-sections-item-content {
        .lib-css(background-color, @color-elogic-black);
        padding: 0 25px !important;

    }

    .section-item-title.nav-sections-item-title {
        display: none;
    }

    .nav-item {
        .lib-css(background-color, @color-elogic-black);
    }

    .nav-item.arm-chair-menu > .submenu {
        left: 0px;
    }
}
