//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.newsletter {
        width: 100%;
        .lib-css(background-color, #f4f4f4);

        .newsletter-container {
            max-width: 1320px;
            margin: 0 auto;
            padding: 30px 0;

            .newsletter-block {
                .lib-vendor-prefix-display(flex);
                justify-content: space-between;
                padding: 0 40px;

                .brand-title {
                    width: 50%;
                }
            }
        }

        .form.subscribe {
            display: table;
            width: 100%;
            float: right;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;
            width: 100%;

            .control {
                .lib-icon-font(
                    @icon-envelope,
                    @_icon-font-size: 16px,
                    @_icon-font-line-height: 32px,
                    @_icon-font-color: @form-element-input-placeholder__color,
                    @_icon-font-margin: 0 0 0 8px
                );

                &:before {
                    display: none;
                    position: absolute;
                }

                .newsletter-email {
                    width: 100%;
                }

                .lib-vendor-prefix-display(flex);
            }
        }

        input {
            width: 100%;
            background: 0 0;
            .lib-css(color, @color-elogic-gray02);
            border: 1px solid @color-elogic-white;
            height: 49px;
            padding-left: 30px;
        }

        .brand-title {
            strong {
                .lib-font-size(@font-size__xl_l);
                .lib-css(font-weight, @font-weight__semibold);
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .des-newletter {
                .lib-font-size(@font-size__base);
                .lib-css(font-weight, @font-weight__light);
                .lib-css(color, @color-elogic-gray02);
            }

        }


        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: table-cell;
            vertical-align: top;
            margin-left: 5px;
        }

        .action.subscribe {
            .lib-font-size(@font-size__base);
            .lib-css(font-weight, @font-weight__light);
            .lib-css(color, @color-elogic-white);
            .lib-css(background-color, @color-elogic-black);
            border-radius: 0;
            padding: 15px 35px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m)  {
    .block.newsletter .newsletter-container .content {
        width: 45%;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m)  {
    .block.newsletter {
        .field {
            .control {
                display: block;
            }
        }
    }
}
