<?php
/**
 * @var $block \Mirasvit\Giftr\Block\Item\Add
 *
 *  added select for registers
 * added button to perform adding product to selected register
 * connect custom popup widget
 */
?>

<div class="giftr-list" style="display: none;"
     data-block="giftr-modal"
     data-role="dropdownDialog"
     data-bind="scope: 'giftr-addto__form'"
     data-mage-init='{"PopupGiftr":{}}'>

    <div class="registry-list" data-bind="visible: hasRegistries">
        <h3 class="select-gift">Select Gift Registry</h3>
        <select class="registries"
                data-bind="options: registries, optionsText: 'label', optionsValue: 'value', value: selected">
        </select>
        <button id="confirm-add-to-registry" href="#"
                data-bind="click: addProduct">Add to gift registry</button>
    </div>

    <div data-bind="visible: isMessageVisible()">
        <span data-bind="html: getMessage()"></span>
    </div>
</div>
