//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .popup_giftr {
        .lib-vendor-prefix-display(flex);
        justify-content: center;
        align-items: center;

        .modal-inner-wrap {
            header.modal-header {
                width: 85%;
            }

            .modal-content {
                margin-top: 25px;

                .giftr-list .registry-list {
                    select.registries {
                        margin-bottom: 10px;
                    }

                    #confirm-add-to-registry {
                        .lib-css(background-color, black);
                        .lib-css(color, white);
                        text-transform: uppercase;
                        padding: 15px;
                        box-shadow: none;
                        border-radius: 4px;
                        width: 100%;

                        span {
                            .lib-vendor-prefix-display(flex);
                            justify-content: center;
                        }
                    }
                }
            }

        }
    }

    #addto-giftr {
        .lib-vendor-prefix-display(flex);
        .lib-css(background, @color-elogic-white);
        border: 1px solid @color-elogic-gray001;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 40px;
        line-height: 40px;
        transition: all .5s ease-out 0s;
        cursor: pointer;

        span {
            .lib-css(color, @color-elogic-black);
        }

        span:before {
            content: @icon-elogic-giftr;
            .lib-font-size(@font-size__xl);
            .lib-css(font-family, @font-family-awesome);
            .lib-css(color, @color-elogic-black);
            margin-right: 10px;
        }
    }

    #addto-giftr:hover {
        .lib-css(background, @color-elogic-black);

        span {
            .lib-css(color, @color-elogic-white);
        }

        span:before {
            content: @icon-elogic-giftr;
            .lib-font-size(@font-size__xl);
            .lib-css(font-family, @font-family-awesome);
            .lib-css(color, @color-elogic-white);
            margin-right: 10px;
        }
    }

    .registry-list {
        position: relative;
    }

    .registry-list:after {
        content: '<>';
        .lib-font-size(@font-size__l);
        transform: rotate(90deg);
        right: 11px;
        top: 44px;
        padding: 0 0 5px;
        border-bottom: 1px solid @color-elogic-gray02;
        position: absolute;
        pointer-events: none;
    }

    .registry-list select {
        .lib-font-size(@font-size__s_l);
        height: 50px;
        margin: 5px 0;
        padding: 0 24px;
        background-image: none;
        cursor: pointer;
    }

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .popup_giftr {
        &._show {
            .modal-inner-wrap {
                width: 400px;
            }
        }
    }
}
