//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Sizes
@font-size__xs_s: ceil(0.5 * @font-size__base); // 7px
@font-size__s_l: ceil(1.15 * @font-size__base); // 16px
@font-size__xl_s: ceil(1.85 * @font-size__base); // 26px
@font-size__xl_l: ceil(2.15 * @font-size__base); // 30px
@font-size__xl_xl: ceil(2.55 * @font-size__base); // 36px

//  Font families
@font-family-poppins: 'Poppins', sans-serif;
@font-family-oswald: 'Oswald', sans-serif;
@font-family-awesome: 'FontAwesome';

//  Fonts
@font-family-name__base: @font-family-poppins;
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Colors
@color-elogic-black: #222;
@color-elogic-gray001: #eee;
@color-elogic-gray01: #bdbdbd;
@color-elogic-gray02: #888;
@color-elogic-gray03: #555;
@color-elogic-gray04: #333;
@color-elogic-white: #fff;

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-elogic-mark: '\f111';
@icon-elogic-search: '\f002';
@icon-elogic-close: '\f00d';
@icon_elogic-authorization: '\f2c0';
@icon-elogic_arrow: '\f105';
@icon-elogic-checkout: '\f07a';
@icon-elogic-giftr: '\f06b';
@icon-elogic-uncheck: "\f0c8";
@icon-elogic-wish: "\f08a";
@icon-elogic-compare: "\f24e";
@icon-elogic-eye: "\f06e";


@icon-calendar__font-size: 23px;

//
//  Responsive variables
//  _____________________________________________

@screen__m_s: 992px;
@screen__l_s: 1198px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;
