.toolbar-products {
    .toolbar-sorter,
    .field.limiter{
        .select2.select2-container.select2-container--default {
            .selection{
                .select2-selection--single {
                    border-color: @color-elogic-gray001;
                    border-radius: 1px;
                    height: 32px;

                    .select2-selection__rendered {
                        .lib-css(color, @color-elogic-gray02);
                        .lib-css(font-weight, @font-weight__light);
                        float: left;
                        padding-top: 1px;
                    }
                }
            }
        }
    }

}

.select2-container--open .select2-dropdown--below {
    border-radius: 1px;
    border-color: @color-elogic-gray001;

    .select2-results {
        ul  {
            .select2-results__option {
                .lib-css(font-weight, @font-weight__light);
            }

            .select2-results__option:hover {
              transition: all .2s ease;
              background-color: @color-elogic-gray01;
              cursor: pointer;
            }
        }
    }
}

